<div class="posts">	
	<% page.posts.each(function(post){ %>
		<%- partial('article', {post: post, index: true}) %>
	<% }) %>
</div>
<% if (page.total > 1){ %>
  <nav id="page-nav" style="text-align: center;">
	<%- bs_paginator({
	  prev_text: "&laquo; Предыдущие",
	  next_text: "Следующие &raquo;"
	}) %>
  </nav>
<% } %>