<footer>
	<div class="container">
		<p>
			&copy; 2013-<%= date(new Date(), 'YYYY') %> <a href="/" class="logo">atnartur.ru</a> /
			Хостинг от <a href="http://clienddev.ru" target="_blank">ClienDDev team</a>
		</p>
		<p>
			<a class="orphus" href="http://orphus.ru" target="_blank" rel="nofollow" title="Система Orphus">
				Если нашли ошибку, выделите ее и нажмите <kbd>ctrl + enter</kbd>
			</a>
		</p>
	</div>
</footer>