<footer>
	<div class="container">
		<p>
			&copy; 2013-<%= date(new Date(), 'YYYY') %> <a href="http://i.atnartur.ru" target="_blank" class="logo">Артур Атнагулов</a>
		</p>
		<p class="links">
			<a href="http://github.com/atnartur/blog" target="_blank">
				Если нашел ошибку, помоги проекту на <kbd><i class="fa fa-github"></i> Github</kbd>
			</a>
		</p>
	</div>
</footer>