<footer>
	<div class="container">
		<p>
			&copy; 2013-<%= date(new Date(), 'YYYY') %> <a href="http://i.atnartur.ru" class="logo">Артур Атнагулов</a>
		</p>
		<p>
			<a class="orphus" href="http://orphus.ru" target="_blank" rel="nofollow" title="Система Orphus">
				Если нашли ошибку, выделите ее и нажмите <kbd>ctrl + enter</kbd>
			</a>
		</p>
	</div>
</footer>