<aside class="col-md-3" id="sidebar">
    <div class="widget">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Поиск">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
    </div>
    <div class="widget">
        <h2>Категории</h2>
        <div class="list-group">
            <a href="" class="list-group-item">123</a>
            <a href="" class="list-group-item">123</a>
            <a href="" class="list-group-item">123</a>
            <a href="" class="list-group-item">123</a>
        </div>
    </div>
</aside>