<form class="input-group" action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
	<input type="hidden" name="sitesearch" value="<%- config.url %>">
	<input type="text" class="form-control" placeholder="Поиск" type="search" name="q" results="0">
	<span class="input-group-btn">
		<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
	</span>
</form><!-- /input-group -->